<div id="detailStage3">
    <div class="container">
        <h2 class="title">Upload Your Design</h2>
        <form id="detailStage3_form">
            <section class='uploads__back'>
                <div class="one-half">
                    <h3 class="title--smaller">Back of garment</h3>
                    <ul id="uploadRowBackA" class="upload-row">
                        <li class="upload-area">A</li>
                        <li>
                            <div id="fileUploadBackPartA"></div>
                        </li>
                    </ul>
                    <ul id="uploadRowBackB" class="upload-row">
                        <li class="upload-area">B</li>
                        <li>
                            <div id="fileUploadBackPartB"></div>
                        </li>
                    </ul>
                    <ul id="uploadRowBackC" class="upload-row">
                        <li class="upload-area">C</li>
                        <li>
                            <div id="fileUploadBackPartC"></div>
                        </li>
                    </ul>
                </div>
                <div id="garmentImageBack" class="one-half"></div>
            </section>
            <div class="info-icon">
                Check out our
                <a href="" target="_blank">artwork guidelines</a> for info on what you need to upload for the best quality results. If you're having
                problems uploading your artwork, or would rather get it to us another way,
                <a href="mailto:info@tshirttakeaway.co.uk">click here</a> to email us.
            </div>
    </div>
    <section class="progress progress__step-3"></section>
    <div class="container">
        <section class="pagination">
            <button class="btn--smaller prev" id="odStage3Back" name="odStage3Back" type="submit">Back</button>
            <button class="btn--smaller next" id="odStage3Submit" name="odStage3Submit" type="submit">Next</button>
        </section>
    </div>
    </form>
</div>