<div id="detailStage1" class="detailStage1">
    <div class="container">
        <h2 class="title">What would you like printed?</h2>
        <form id="detailStage1_form">
            <div id="itemPrintType" class="row">
                <p class="label--standalone" for="quality">What garment would you like?</label>
                    <ul class="select__box" id="garmentTypeSelector">
                        <li>
                            <a class="select_box" id="gtUnisex" name="garmentType" value="unisexTShirt" data-value="Unisex T-Shirt">
                                Unisex T-Shirt
                            </a>
                        </li>
                        <li>
                            <a class="select_box" id="gtLadiesT" name="garmentType" value="ladiesTShirt" data-value="Ladies T-Shirt">
                                Ladies T-Shirt
                            </a>
                        </li>
                        <li>
                            <a class="select_box" id="gtKidsT" name="garmentType" value="kidsTShirt" data-value="Kids T-Shirt">
                                Kids T-Shirt
                            </a>
                        </li>
                        <li>
                            <a class="select_box" id="gtLongSleevedT" name="garmentType" value="longSleeveTShirt" data-value="Long Sleeve T-Shirt">
                                Long Sleeve T-Shirt
                            </a>
                        </li>
                        <li>
                            <a class="select_box" id="gtSweatShirt" name="garmentType" value="sweatShirt" data-value="Sweat Shirt">
                                Sweat shirt
                            </a>
                        </li>
                        <li>
                            <a class="select_box" id="gtHoodedTop" name="garmentType" value="hoodedTop" data-value="Hooded Top">
                                Hooded Top
                            </a>
                        </li>
                        <li>
                            <a class="select_box" id="gtZippedHood" name="garmentType" value="zipHoodie" data-value="Zipped Hoodies">
                                Zipped Hoodies
                            </a>
                        </li>
                    </ul>
            </div>
            <div id="qualityArea" class="row">
                <p class="label--standalone" for="quality">What quality would you like?</label>
                    <ul class="select__box" id="qualityTypeSelector">
                        <li>
                            <a class="select_box" id="qualBasic" data-value="Basic">
                                Basic
                            </a>
                        </li>
                        <li>
                            <a class="select_box" id="qualStandard" data-value="Standard">
                                Standard
                            </a>
                        </li>
                        <li>
                            <a class="select_box" id="qualPremium" data-value="Premium">
                                Premium
                            </a>
                        </li>
                    </ul>
            </div>
            <div id="infoArea" class="info-icon size-guide">
                Click to view size guides & aftercare for
                <a href="" id="aftercareLinkUrl" target="_blank">Standard Long Sleeve T-Shirts</a>.
            </div>
            <div id="colourArea" class="colourArea">
                <div class="row">
                    <label class="label--standalone" for="colour">What colour garment would you like?</label>
                    <div class="container__color-pick garmentcolor-uni-b">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-uni-b" name="garmentcolor-uni-b" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-uni-s">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-uni-s" name="garmentcolor-uni-s" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-uni-p">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-uni-p" name="garmentcolor-uni-p" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-ladies-b">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-ladies-b" name="garmentcolor-ladies-b" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-ladies-s">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-ladies-s" name="garmentcolor-ladies-s" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-ladies-p">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-ladies-p" name="garmentcolor-ladies-p" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-kids-b">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-kids-b" name="garmentcolor-kids-b" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-kids-s">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-kids-s" name="garmentcolor-kids-s" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-kids-p">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-kids-p" name="garmentcolor-uni-p" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-longsleeve-b">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-longsleeve-b" name="garmentcolor-longsleeve-b" value=""
                            selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-longsleeve-s">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-longsleeve-s" name="garmentcolor-longsleeve-s" value=""
                            selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-longsleeve-p">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-longsleeve-p" name="garmentcolor-longsleeve-p" value=""
                            selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-sweat-b">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-sweat-b" name="garmentcolor-sweat-b" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-sweat-s">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-sweat-s" name="garmentcolor-sweat-s" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-sweat-p">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-sweat-p" name="garmentcolor-sweat-p" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-hoodedtop-b">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-hoodedtop-b" name="garmentcolor-hoodedtop-b" value=""
                            selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-hoodedtop-s">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-hoodedtop-s" name="garmentcolor-hoodedtop-s" value=""
                            selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-hoodedtop-p">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-hoodedtop-p" name="garmentcolor-hoodedtop-p" value=""
                            selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-zip-b">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-zip-b" name="garmentcolor-zip-b" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-zip-s">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-zip-s" name="garmentcolor-zip-s" value="" selected-colour="">
                    </div>
                    <div class="container__color-pick garmentcolor-zip-p">
                        <input readonly class="input__color-pick" type="text" id="garmentcolor-zip-p" name="garmentcolor-zip-p" value="" selected-colour="">
                    </div>
                </div>
            </div>
            <div id="quantityArea" class="row">
                <label class="label--standalone" for="quantity">How many would you like?</label>
                <ul class="select__box" id="quantityTypeSelector">
                    <li>
                        <a class="select_box" id="quan25" name="quantity" value="25">
                            25 - 34
                        </a>
                    </li>
                    <li>
                        <a class="select_box" id="quan35" name="quantity" value="35">
                            35 - 49
                        </a>
                    </li>
                    <li>
                        <a class="select_box" id="quan50" name="quantity" value="50">
                            50 - 74
                        </a>
                    </li>
                    <li>
                        <a class="select_box" id="quan75" name="quantity" value="75">
                            75 - 99
                        </a>
                    </li>
                    <li>
                        <a class="select_box" id="quan100" name="quantity" value="100">
                            100 - 149
                        </a>
                    </li>
                    <li>
                        <a class="select_box" id="quan150" name="quantity" value="150">
                            150 - 199
                        </a>
                    </li>
                    <li>
                        <a class="select_box" id="quan200" name="quantity" value="200">
                            200 - 249
                        </a>
                    </li>
                    <li>
                        <a class="select_box" id="quan250" name="quantity" value="250">
                            250 +
                        </a>
                    </li>
                </ul>
            </div>
            <div id="sizesArea" class="row">
                <label class="label--standalone" for="sizes">And in what sizes?</label>
                <ul class="sizes">
                    <li>
                        <label class="label" for="sizeSmall">Small</label>
                        <input class="input" id="sizeSmall" name="sizeSmall" type="text" value="0">
                    </li>
                    <li>
                        <label class="label" for="sizeMedium">Medium</label>
                        <input class="input" id="sizeMedium" name="sizeMedium" type="text" value="0">
                    </li>
                    <li>
                        <label class="label" for="sizeLarge">Large</label>
                        <input class="input" id="sizeLarge" name="sizeLarge" type="text" value="0">
                    </li>
                    <li>
                        <label class="label" for="sizeXLarge">XLarge</label>
                        <input class="input" id="sizeXLarge" name="sizeXLarge" type="text" value="0">
                    </li>
                    <li>
                        <label class="label" for="size2XLarge">2XLarge</label>
                        <input class="input" id="size2XLarge" name="size2XLarge" type="text" value="0">
                    </li>
                    <li class="tick-container">
                        <p class="sizes-validation " id="sizes-validation"></p>
                    </li>
                </ul>
            </div>
    </div>
    <section class="progress progress__step-2"></section>
    <div class="container">
        <section class="pagination">
            <button class="btn--smaller next" id="odStage1Submit" name="odStage1Submit" type="submit">Next</button>
        </section>
    </div>
    </form>
</div>