<div id="detailStage2">
    <div class="container">
        <h2 class="title">Upload Your Design</h2>
        <p class="longform">Pick the position you would like us to print on and click the appropriate upload box
            If you want to print on the back of your garments, do not worry its on the next page.</p>
        <form id="detailStage2_form">
            <div id="fileUploadStageA"></div>
            <section class='uploads__front'>
                <div class="one-half">
                    <h3 class="title--smaller">Front of garment</h3>
                    <ul id="uploadRowFrontA" class="upload-row">
                        <li class="upload-area">A</li>
                        <li>
                            <div id="fileUploadFrontPart1"></div>
                        </li>
                    </ul>
                    <ul id="uploadRowFrontB" class="upload-row">
                        <li class="upload-area">B</li>
                        <li>
                            <div id="fileUploadFrontPart2"></div>
                        </li>
                    </ul>
                    <ul id="uploadRowFrontC" class="upload-row">
                        <li class="upload-area">C</li>
                        <li>
                            <div id="fileUploadFrontPart3"></div>
                        </li>
                    </ul>
                    <ul id="uploadRowFrontD" class="upload-row">
                        <li class="upload-area">D</li>
                        <li>
                            <div id="fileUploadFrontPart4"></div>
                        </li>
                    </ul>
                    <ul id="uploadRowFrontE" class="upload-row">
                        <li class="upload-area">E</li>
                        <li>
                            <div id="fileUploadFrontPart5"></div>
                        </li>
                    </ul>
                    <ul id="uploadRowFrontF" class="upload-row">
                        <li class="upload-area">F</li>
                        <li>
                            <div id="fileUploadFrontPart6"></div>
                        </li>
                    </ul>
                    <ul id="uploadRowFrontG" class="upload-row">
                        <li class="upload-area">G</li>
                        <li>
                            <div id="fileUploadFrontPart7"></div>
                        </li>
                    </ul>
                    <ul id="uploadRowFrontH" class="upload-row">
                        <li class="upload-area">H</li>
                        <li>
                            <div id="fileUploadFrontPart8"></div>
                        </li>
                    </ul>
                    <ul id="uploadRowFrontI" class="upload-row">
                        <li class="upload-area">I</li>
                        <li>
                            <div id="fileUploadFrontPart9"></div>
                        </li>
                    </ul>
                </div>
                <div id="garmentImageFront" class="one-half">
                </div>
            </section>
            <div class="info-icon">
                Check out our
                <a href="http://tshirttakeaway.co.uk/artwork-guidelines/" target="_blank">artwork guidelines</a> for info on what you need to upload for the best quality results. If you're having
                problems uploading your artwork, or would rather get it to us another way,
                <a href="mailto:info@tshirttakeaway.co.uk">click here</a> to email us.
            </div>
    </div>
    <section class="progress progress__step-3"></section>
    <div class="container">
        <section class="pagination">
            <button class="btn--smaller prev" id="odStage2Back" name="odStage2Back" type="submit">Back</button>
            <button class="btn--smaller next" id="odStage2Submit" name="odStage2Submit" type="submit">Next</button>
        </section>
    </div>
    </form>
</div>