<div id="detailStage6">
    <div class="container">
        <h2 class="title">About You</h2>
        <form id="detailStage6_form">
            <div class="row">
                <div class="one-half">
                    <label class="label" for="firstName">What shall we call you?</label>
                </div>
                <div class="one-half">
                    <input class="input" id="firstName" name="firstName" maxlength="50" type="text" placeholder="Your name">
                </div>
            </div>
            <div class="row">
                <div class="one-half">
                    <label class="label" for="phoneNumber">And how do we get hold of you?</label>
                </div>
                <div class="one-half">
                    <input class="input" id="phoneNumber" name="phoneNumber" type="text" placeholder="Your phone number">
                    <input class="input" id="emailAddress" name="emailAddress" type="text" placeholder="Your email">
                </div>
            </div>
            <p class="longform">If you order today, your estimated delivery date is
                <span id="estimatedDelivery"></span>.</p>
            <div class="question-icon">
                We also offer totally bespoke screen printing. If you can't find what you're looking for here,
                <a href="mailto:info@tshirttakeaway.co.uk">contact us</a> for details.
            </div>
        </div>
        <section class="progress progress__step-1"></section>
        <div class="container">
            <section class="pagination">
                <button class="btn--smaller prev" id="odStage6Back" name="odStage6Back" type="submit">Back</button>
                <button class="btn--smaller next" id="odStage6Submit" name="odStage6Submit" type="submit">Next</button>
            </section>
        </div>
    </form>
</div>