<div id="detailStage7">
    <div class="container">
        <h2 class="title">Delivery</h2>
        <form id="detailStage7_form">
            <section id="deliveryAddressDetails" class="one-half form-fill">
                <label class="label--standalone">Delivery Address</label>
                <input class="input" id="addressLine1Delivery" name="addressLine1Delivery" type="text" placeholder="Address Line 1">
                <input class="input" id="addressLine2Delivery" name="addressLine2Delivery" type="text" placeholder="Address Line 2">
                <input class="input" id="cityDelivery" name="cityDelivery" type="text" placeholder="City">
                <input class="input" id="addressLine3Delivery" name="addressLine3Delivery" type="text" placeholder="Country">
                <input class="input" id="postCodeDelivery" name="postCodeDelivery" type="text" placeholder="Postcode">
            </section>
            <section id="billingAddressDetails" class="one-half form-fill">
                <div class="use-delivery-address">
                    <label class="label" for="createAccount">Billing Address. Same as delivery address?</label>
                    <label class="check">
                        <input type="checkbox" id="useDeliveryAddress" name="useDeliveryAddress" />
                        <div class="box"></div>
                    </label>
                </div>
                <input class="input" id="addressLine1Billing" name="addressLine1Billing" type="text" placeholder="Address Line 1">
                <input class="input" id="addressLine2Billing" name="addressLine2Billing" type="text" placeholder="Address Line 2">
                <input class="input" id="cityBilling" name="cityBilling" type="text" placeholder="City">
                <input class="input" id="addressLine3Billing" name="addressLine3Billing" type="text" placeholder="Country">
                <input class="input" id="postCodeBilling" name="postCodeBilling" type="text" placeholder="Postcode">
            </section>
    </div>
    <section class="progress progress__step-6"></section>
    <div class="container">
        <section class="pagination">
            <button class="btn--smaller prev" id="odStage7Back" name="odStage7Back" type="submit">Back</button>
            <button class="btn--smaller next" id="odStage7Submit" name="odStage7Submit" type="submit">Next</button>
        </section>
    </div>
    </form>
</div>