<div id="detailStage5">
    <div class="container">
        <h2 class="title">Any Other Info</h2>
        <form id="detailStage5_form">
            <label class="label" for="anyOtherNotes">Any Other Information?</label>
            <input class="input other__info" type="text" name="anyOtherNotes" id="anyOtherNotes">
            <div class="info-icon">
                We'll position your images on the garment for the best fit, but let us know if you have any specific instructions.
            </div>
            <h3 class="title--smaller">Your Order So Far</h3>

            <p class="longform last">
                Don't worry, you'll be able to review and edit your order before checking out.
            </p>

            <div id="orderSummaryFullAddGarment">
                <ul id="orderSummaryUlOuterAddGarment" class="order__summary order__summary--mini">
                </ul>
            </div>

            <h3 class="title--smaller">Add Another Garment</h3>
            <p class="longform">Would you like to add another garment to your order? To speed things up you can reuse the artwork you've already
                uploaded.</p>
            <a class="btn--smaller btn--center" id="odStage5AddGarment" name="odStage5AddGarment">Add Another Garment</a>

            <div id="addAnotherGarmentPanel">
                <p class="longform">Would you like to
                    <span id="reuseArtworkYes">re-use your artwork?</span> or
                    <span id="reuseArtworkNo">upload new files?</span>
                </p>
            </div>
    </div>
    <section class="progress progress__step-5"></section>
    <div class="container">
        <section class="pagination">
            <button class="btn--smaller prev" id="odStage5Back" name="odStage5Back" type="submit">Back</button>
            <button class="btn--smaller next" id="odStage5Submit" name="odStage5Submit" type="submit">Next</button>
        </section>
    </div>
    </form>
</div>