<div id="detailStage8">
    <div class="container">
        <form id="detailStage8_form" method="post" action="success.php">
            <input type="hidden" value="" id="tokenId" name="tokenId">
            <input type="hidden" value="" id="postData" name="postData">
            <h2 class="title">Order Summary</h2>
            <section class="summary__order">
                <p class="longform" id="noOrdersSummary">It looks like you don't have any orders!</p>
                <div id="orderSummaryFull">
                    <ul id="orderSummaryUlOuter" class="order__summary">
                    </ul>
                </div>
            </section>
            <section class="summary__delivery">
                <div class="summary__address" id="addressOrderDetailsSummary">
                    <h4 class="sub-title--subtle">Delivery Addresss</h4>
                    <p class="longform" id="addressLine1Summary"></p>
                    <p class="longform" id="addressLine2Summary"></p>
                    <p class="longform" id="addressLine3Summary"></p>
                    <p class="longform" id="addressCitySummary"></p>
                    <p class="longform" id="addressPostCodeSummary"></p>
                    <a class="btn--hollow" id="orderDetailsStage8EditAddressSumbit">Edit Address</a>
                </div>
                <div class="row summary__address" id="addressOrderDetailsEdit">
                    <input class="input" id="addressLine1DeliverySummary" name="addressLine1Delivery" type="text" placeholder="Address Line 1">
                    <input class="input" id="addressLine2DeliverySummary" name="addressLine2Delivery" type="text" placeholder="Address Line 2">
                    <input class="input" id="addressLine3DeliverySummary" name="addressLine3Delivery" type="text" placeholder="City">
                    <input class="input" id="cityDeliverySummary" name="cityDelivery" type="text" placeholder="Country">
                    <input class="input" id="postCodeDeliverySummary" name="postCodeDelivery" type="text" placeholder="Postcode">
                    <div class="address__edit">
                        <a class="btn--hollow" id="orderDetailsStage8UpdateAddressSumbit">Save Address Changes</a>
                        <a class="btn--hollow" id="orderDetailsStage8UpdateAddressCancel">Cancel</a>
                    </div>
                </div>
                <div class="summary__address">
                    <p class="longform estimated-delivery">Your estimated delivery date is
                        <span id="deliveryDateSummary"></span>
                    </p>
                </div>
            </section>
            <section class="summary__total">
                <span class="total-label">Total</span>
                <span class="total-price" id="totalSummary">£150</span>
            </section>
    </div>
    <section class="progress progress__step-7"></section>
    <div class="container">
        <section class="pagination">
            <button class="btn--smaller prev" id="odStage8Back" name="odStage8Back" type="submit">Back</button>
            <button class="btn--smaller next" id="odStage8Submit" name="odStage8Submit" type="submit">Checkout</button>
        </section>
    </div>
    </form>
</div>