<div id="detailStage4">
    <div class="container">
        <h2 class="title">Colours In Your Design</h2>
        <form id="detailStage4_form">
            <ul class="colour_row" id="colourFrontArea">
                <li class="colour_area">Front</li>
                <li class="colour_selects">
                    <select class="select" id="colourFront" name="colourFront">
                        <option value="0">Please Choose</option>
                        <option value="1">1 Colour</option>
                        <option value="2">2 Colours</option>
                        <option value="3">3 Colours</option>
                        <option value="4">4 Colours</option>
                    </select>
                </li>
                <li>
                    <ul class="palettes" id="colourFrontSelect">
                        <li id="cfItem1">
                            <div class="container__color-pick">
                                <input readonly class="input__color-pick" type="text" id="inkcolor-front-1" name="inkcolor-front-1" value="Natural" selected-colour="">
                            </div>
                        </li>
                        <li id="cfItem2">
                            <div class="container__color-pick">
                                <input readonly class="input__color-pick" type="text" id="inkcolor-front-2" name="inkcolor-front-2" value="Natural" selected-colour="">
                            </div>
                        </li>
                        <li id="cfItem3">
                            <div class="container__color-pick">
                                <input readonly class="input__color-pick" type="text" id="inkcolor-front-3" name="inkcolor-front-3" value="Natural" selected-colour="">
                            </div>
                        </li>
                        <li id="cfItem4">
                            <div class="container__color-pick">
                                <input readonly class="input__color-pick" type="text" id="inkcolor-front-4" name="inkcolor-front-4" value="Natural" selected-colour="">
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="colour_row" id="colourBackArea">
                <li class="colour_area">Back</li>
                <li class="colour_selects">
                    <select class="select" id="colourBack" name="colourBack">
                        <option value="0">Please Choose</option>
                        <option value="1">1 Colour</option>
                        <option value="2">2 Colours</option>
                        <option value="3">3 Colours</option>
                        <option value="4">4 Colours</option>
                        <!--<option value="fullColour">Full Colour</option> -->
                    </select>
                </li>
                <li>
                    <ul class="palettes" id="colourBackSelect">
                        <li id="bfItem1">
                            <div class="container__color-pick">
                                <input readonly class="input__color-pick" type="text" id="inkcolor-back-1" name="inkcolor-back-1" value="Natural" selected-colour="">
                            </div>
                        </li>
                        <li id="bfItem2">
                            <div class="container__color-pick">
                                <input readonly class="input__color-pick" type="text" id="inkcolor-back-2" name="inkcolor-back-2" value="Natural" selected-colour="">
                            </div>
                        </li>
                        <li id="bfItem3">
                            <div class="container__color-pick">
                                <input readonly class="input__color-pick" type="text" id="inkcolor-back-3" name="inkcolor-back-3" value="Natural" selected-colour="">
                            </div>
                        </li>
                        <li id="bfItem4">
                            <div class="container__color-pick">
                                <input readonly class="input__color-pick" type="text" id="inkcolor-back-4" name="inkcolor-back-4" value="Natural" selected-colour="">
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="colour_row" id="colourSleeveArea">
                <li class="colour_area">Sleeve</li>
                <li class="colour_selects">
                    <select class="select" id="colourSleeveSelectDropDown" name="colourSleeveSelect">
                        <option value="0">Please Choose</option>
                        <option value="1">1 Colour</option>
                        <option value="2">2 Colours</option>
                        <option value="3">3 Colours</option>
                        <option value="4">4 Colours</option>
                        <!--<option value="fullColour">Full Colour</option> -->
                    </select>
                </li>
                <li>
                    <ul class="palettes" id="colourSleeveSelect">
                        <li id="sfItem1">
                            <div class="container__color-pick">
                                <input readonly class="input__color-pick" type="text" id="inkcolor-sleeve-1" name="inkcolor-sleeve-1" value="Natural" selected-colour="">
                            </div>
                        </li>
                        <li id="sfItem2">
                            <div class="container__color-pick">
                                <input readonly class="input__color-pick" type="text" id="inkcolor-sleeve-2" name="inkcolor-sleeve-2" value="Natural" selected-colour="">
                            </div>
                        </li>
                        <li id="sfItem3">
                            <div class="container__color-pick">
                                <input readonly class="input__color-pick" type="text" id="inkcolor-sleeve-3" name="inkcolor-sleeve-3" value="Natural" selected-colour="">
                            </div>
                        </li>
                        <li id="sfItem4">
                            <div class="container__color-pick">
                                <input readonly class="input__color-pick" type="text" id="inkcolor-sleeve-4" name="inkcolor-sleeve-4" value="Natural" selected-colour="">
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
    </div>
    <section class="progress progress__step-4"></section>
    <div class="container">
        <section class="pagination">
            <button class="btn--smaller prev" id="odStage4Back" name="odStage4Back" type="submit">Back</button>
            <button class="btn--smaller next" id="odStage4Submit" name="odStage4Submit" type="submit">Next</button>
        </section>
    </div>
    </form>
</div>